# This .gitignore file is intended to be minimal.
#
# If you find that you need additional rules, such as IDE temporary
# files, please do so either via a global .gitignore file (registered
# with core.excludesFile), or by adding private repository-specific
# rules to .git/info/exclude.  See https://git-scm.com/docs/gitignore
# for more information.

# Build directories
build/
build-*/
docs/genrst/

# Test failure outputs
tests/results/*

# Python cache files
__pycache__/

# Customized Makefile/project overrides
GNUmakefile
user.props

# MacOS desktop metadata files
.DS_Store

# renesas related files
######################
/.cproject
/.project
/.settings
/*.jlink
/docs/_build
/mpy-cross/lextab.py
/mpy-cross/yacctab.py
/ports/rx/build-GR_CITRUS
/ports/rx/build-GR_SAKURA
/ports/rx/build-GR_SAKURA_DD
/ports/rx/build-GR_CITRUS_DD
/ports/rx/build-GR_ROSE
/ports/rx/build-GR_ROSE_DD
/ports/rz/boards/.pydevproject
/ports/rz/boards/.project
/ports/rz/lextab.py
/ports/rz/yacctab.py
/ports/ra/_logs
/rx_releases/gr_sakura

