# Compiled Sources
###################
*.o
*.a
*.elf
*.bin
*.map
*.hex
*.dis
*.exe

# Packages
############

# Logs and Databases
######################
*.log

# VIM Swap Files
######################
*.swp

# Build directory
######################
build/

# Test failure outputs
######################
tests/*.exp
tests/*.out

# Python cache files
######################
__pycache__/
*.pyc

# Customized Makefile/project overrides
######################
GNUmakefile
user.props

# Generated rst files
######################
genrst/
/ports/rx/build-GR_CITRUS
/ports/rx/build-GR_SAKURA
/ports/rx/build-GR_SAKURA_DD
/ports/rx/build-GR_CITRUS_DD
/docs/_build
/ports/rx/build-GR_ROSE
/ports/rx/build-GR_ROSE_DD
/.cproject
/.project
/.settings
